.food{
	background: url(../assets/imgs/food1.jpg);
	background-repeat: no-repeat;
	background-size:cover !important;
  
}/*
div {
    //height: 200px;
    //width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}*/
.button{
	background-color: #FF4500 !important;
}