.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

h1{
	text-align:center;
	color:#FF4500;
}
h6{
	text-align:center;
}
.button{
	background-color:#FF4500 !important;
	text-align:center;
	margin: auto;
}